body{
    font-family: arial;
    margin: 0;
    padding: 0;
    background: beige;
    color: #333;
}

h2{
    text-align: center;
    font-size: 2rem;
    color: black;
}

h3{
    text-align: center;
    font-size: 1rem;
    color: black;
}


/*Header*/
header{
    background-color: #111;
    padding: 10px 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.logo{
    width: 100px;
    height: auto;
    margin-right: auto;
}

/*Navegador*/

nav{
    flex-grow: 1;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/*About*/

.about  {
    display: flex;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px black;
    margin: 20px;
}

.about-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.fundador{
    width: 200px;
    height: auto;
    margin-right: auto;
    border-radius: 30px;
}


/*Portfolio*/
.portfolio{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px black;
    margin: 20px;
    padding: 20px;
}

.proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.portfolio img{
    width: 300px;
    height: auto;
    border-radius: 30px;
}


/*Contact*/
.contact{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px black;
    margin: 20px;
    padding: 20px;
    text-align: center;

}

.contact label{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.contact input{
    padding: 10px;
    margin: 10px black;
    border-radius: 10px;
    width: 800px;

}

.contact textarea{
    padding: 10px;
    margin: 10px black;
    border-radius: 10px;
    width: 800px;
}

footer{
    background-color: black;
    color: #fff;
    padding: 10px
}

footer p{
    text-align: center;
}




